/**
 * @file
 * Styling for the antisearch filter. Hides the added characters.
 */

.antisearch-filter {
  color: #bbb;
  cursor: pointer;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.antisearch-filter:hover {
  opacity: 0.8;
}

.antisearch-filter i,
.antisearch-filter .asf { /* For old legacy html rendering. */
  color: #fff;
  display: inline-block;
  font-size: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  width: 0;
}
