<!--
Copy this file in the text area of https://www.drupal.org/node/1916428/edit
-->
The Antisearch Filter hides single words from search engines like Google, Bing, Yahoo etc.

In this situation the Antisearch Filter module is the right module for you: Your text on the internet has to found by search engines. Just a few words in it should not be found under any circumstances.

<h2>How it works:</h2>

It adds random characters to the selected string und hides this random characters with CSS. For example the string <em>"Josef Friedrich"</em> is converted to <em>"J9ofs6e0fj 8Fcrpijerdgrtikcshj"</em>.

This example HTML code

<code>
<p><s>Josef Friedrich</s></p>
</code>

will be converted to

<code>
<p><span class="antisearch-filter" title="Name is hidden from search engines. Search engines see only: J9ofs6e0fj 8Fcrpijerdgrtikcshj">J<i>9</i>o<i>f</i>s<i>6</i>e<i>0</i>f<i>j</i> <i>8</i>
F<i>c</i>r<i>p</i>i<i>j</i>e<i>r</i>d<i>g</i>r<i>t</i>i<i>k</i>c<i>s</i>h<i>j</i></span></p>
</code>

if the Antisearch Filter is activated.

<h2>Configuration</h2>

Install the antisearch filter module and enable it.

<h3>As a text format filter</h3>

Go to <em>Administration » Configuration » Content authoring » Text formats</em> (<code>admin/config/content/formats</code>). Select the text format you want to configure and enable the antisearch filter for this text format.

Following strings trigger (if configured) the Antisearch Filter:

<ul>
  <li>
    Email address (also as link <code><a href="mailto: ...."</code>)
    <code>example@example.com</code>
  </li>
  <li>
    HTML <code><strike></code> tag
    <code><strike>Text to be hidden from search engines.</strike></code>
  </li>
  <li>
    HTML <code><s></code> tag
    <code><s>Text to be hidden from search engines.</s></code>
  </li>
  <li>
    Square brackets
    <code>[Text to be hidden from search engines.]</code>
  </li>
</ul>

<h3>As a field formatter</h3>

<em>Structure » Content types » Your content type » Manage display</em>

<code>admin/structure/types/manage/<content-type>/display</code>

<h2>Maintainers</h2>

Current maintainers: Josef Friedrich (<a href="https://www.drupal.org/u/joseffriedrich">joseffriedrich</a>)